# Aplicación
NODE_ENV=development
PORT=3000

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=backendpedbox

# Autenticación JWT (se usará en la feature de auth)
JWT_SECRET=cambia_este_secret_por_uno_seguro
JWT_EXPIRES_IN=1d

# Ingesta de Reddit (se usará en la feature de subreddits)
REDDIT_JSON_URL=https://www.reddit.com/reddits.json
REDDIT_USER_AGENT=backendpedbox/1.0 (por /u/wilsoncap)
